.Weather {
  padding: 20px;
  border: 1px solid rgb(222, 222, 222);
  max-width: 540px;
  border-radius: 4px;
}

.Weather .weather-summary {
  display: flex;
  align-items: flex-start;
}

.Weather .icon {
  width: 64px;
  height: 64px;
}

.Weather .icon canvas {
  margin: 0 auto;
}

.Weather .temp,
.unit {
  color: rgb(33, 33, 33);
}

.Weather .UnitConversion {
  display: flex;
  align-items: flex-start;
}

.Weather .temp {
  font-size: 64px;
  line-height: 64px;
  margin-left: 6px;
}

.Weather .unit {
  margin: 4px 4px 0;
}
